<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pokedex</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <style>
            img {
                width: 100px;
                height: 100px;
                border-radius: 10px;
            }
            body {
                background-image: url(https://wallpapercave.com/wp/wp8813112.jpg);
                background-size: cover;

            }
            h1 {
                display: inline-block;
            }
            button {
                display: flex;
            }
        </style>
        <h1>Pokedex</h1>
        <button><a href="/pokemon/new">Add a new Pokemon</a></button>
        <% for(let i=0; i < pokemons.length; i++) { %>
            <a href='/pokemon/<%= i %>'><img src=<%= pokemons[i].img%>></a>
            <a href="/pokemon/<%=i%>/edit">Edit</a>
            // delete
        <% } %>
        
    </body>
</html>