<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add a Pokemon to the Pokedex</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <style>
            h1 {
                color: white;
                font-size: 40px;
            }
            body {
                background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9938babd-3a6f-476d-81a9-fdfadc2bf5ff/d6zj43i-988ad0d0-32f4-4484-91e2-a6fafb38658d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzk5MzhiYWJkLTNhNmYtNDc2ZC04MWE5LWZkZmFkYzJiZjVmZlwvZDZ6ajQzaS05ODhhZDBkMC0zMmY0LTQ0ODQtOTFlMi1hNmZhZmIzODY1OGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.0TgtULG5Z79lftb-lHbkdvntzSbw0pr5vQjr89wBZxM);
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
            form {
                color: white;
            }
            input {
                display: block;
                font-size: 20px;
            }
        </style>
        <h1>Add a new Pokemon</h1>
        <form action="/pokemon" method="POST">
            Name: <input type="text" name="name" placeholder="Pokemon" />
            Type: <input type="text" name="type" placeholder="Pokemon Type" />
            Image: <input type="text" name="img" placeholder="Image" />
            HP: <input type="text" name="hp" placeholder="HP"/>
            Attack: <input type="text" name="attack" placeholder="Attack"/>
            Defense: <input type="text" name="defense" placeholder="Defense"/>
            Special Attack: <input type="text" name="spattack" placeholder="Special Attack"/>
            Special Defense: <input type="text" name="spdefense" placeholder="Special Defense"/>
            Speed: <input type="text" name="speed" placeholder="Speed"/>
            <input type="submit" value="Create Pokemon"/>
        </form>
        <nav>
            <a href="/pokemon">Back to Pokedex</a>
        </nav>
    </body>
</html>